name: tests

on: [push, pull_request]

jobs:
  DEBUG:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure Project
        run: cmake -G Ninja -B build -S . -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug -DTYPE_OF_COMPILING=0 -DTYPE_OF_OPTIMIZATION=0
      - name: Build Project
        run: cmake --build build
      - name: Clang-Tidy
        continue-on-error: true
        run: |
          echo -e "\033[31m=== Clang-Tidy Warnings ===\033[0m"
          find src headers tests -name '*.cpp' -o -name '*.hpp' -o -name '*.h' | \
          xargs -I{} -P$(nproc) clang-tidy --checks='google-*' -p build {} 2>&1
      - name: Run Tests
        run: ctest --test-dir build/tests --output-on-failure -V -C Debug
  RELEASE:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure Project
        run: cmake -G Ninja -B build -S . -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DTYPE_OF_COMPILING=1 -DTYPE_OF_OPTIMIZATION=1
      - name: Build Project
        run: cmake --build build
      - name: Run Tests
        run: ctest --test-dir build/tests --output-on-failure -V -C Release

